<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our solution: Biosphera</h2>
                    <h3 class="section-subheading text-muted">Biopshera is Subterra’s GeoBiological Software to de-risk industry 
                        investments in Natural Hydrogen prospecting and Underground Hydrogen storage
                    </h3>
                    <p class="text-muted">Biosphera is Subterra’s revolutionary web application—designed to bring the invisible 
                        world of subsurface microbiology into the hands of energy professionals. Built on cutting-edge science 
                        and proprietary data, Biosphera allows clients to assess the presence and impact of microbial life in 
                        geological reservoirs. It models the expected size, diversity, and activity of microbial communities, 
                        simulates hydrogen consumption under real-world conditions, and calculates risk indexes to guide +
                        exploration, storage, and operational decisions. Integrated with leading geochemical and geological 
                        software, and powered by AI-assisted analysis, Biosphera turns complex biological data into clear, 
                        actionable insights. Whether you're developing a natural hydrogen prospect, planning underground hydrogen 
                        storage, or managing a carbon capture or gas field project, Biosphera helps you anticipate microbial 
                        risks before they become costly problems—transforming microbiology from a blind spot into a strategic 
                        advantage.</p>
                </div>
            </div>
            <!--<div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>-->
        </div>
    </section>
